body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(to right, #141e30, #243b55);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 400px;
}

.auth-box {
  background: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

.auth-box input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
}

.auth-box button {
  width: 100%;
  padding: 12px;
  background: #1db954;
  border: none;
  color: white;
  cursor: pointer;
}