* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}
html, body {
    width: 100%;
    height: 100%;
}

.main {
    display: flex;
    width: 100vw;
    background: url("Images/background.jpg") center/cover no-repeat;

    height: 100vh;
}


.sidebar {
    flex: 0 0 300px;
    height: 100%;
    background-color: rgb(35, 35, 35);
    transition: all 0.35s ease-in-out;
    overflow: hidden;
}


#burger {
    position: absolute;
    z-index: 1;
    margin: 8px 0px;
    width: 27px;
    height: 20px;
    transition: all 1s ease-in-out;
    transform: translateX(-120%);
}

.insidebar {
    display: flex;
    margin: 5px;
    height: 40px;
    gap: 10px;
    border: 2px solid rgb(97, 95, 95);
    align-items: center;
    background-color: rgb(27, 27, 27);
    position: relative;
    border-radius: 8px;
}

#cross {
    position: absolute;
    right: 10px;
    align-self: center;
    color: white;
}

#lib {
    height: 35px;
    width: 100%;
    color: white;
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

li {
    list-style-type: decimal;
    color: white;
}

.list {
    background-color: inherit;
    cursor: pointer;
}

#play,
#prev,
#next {
    cursor: pointer;
}

.head {
    width: 100%;
    height: 10%;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 0px 14px;
    background-color: rgb(118 117 118);
    box-sizing: border-box;
}
 
.buttons {
    position: absolute;
    right: 20px;
    top: 25px;   
}

.buttons button {
    background-color: rgba(128, 128, 128, 0.438);
    box-shadow: 3px 3px 2px 0px;
    border-radius: 5px;
    width: 100px;
    height: 27px;
}

.buttons button:focus {
    outline: 2px solid gray;
    outline-offset: 2px;
}

.libraries {
    flex: 1;  
    width: 80%;              
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    /* overflow-y: scroll; */
    /* scrollbar-3dlight-color: aqua; */
}

.sidebar.closed {
    transform: translateX(-100%);
    flex: 0 0 0%;      
}

.sidebar, .libraries {
    will-change: transform, flex;
}


.head img {
    filter: invert();
}

.player {
    background-color: rgb(118 117 118);
    position: absolute;
    width: 100%;
    height: 20%;
    gap: 10px;
    display: flex;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    padding: 0px 5px;
    box-sizing: border-box;
}

.controls {
    display: flex;
    gap: 10px;
}

.upperplayer {
    display: flex;
    justify-content: space-between;
}

.lowerplayer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
}

.innerlowerplayer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 80%;
    height: 100%;

}

.circle {
    transition: all 0.5s ease;
    position: absolute;
    left: 0;
    height: 8px;
    width: 8px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: white;
}

.bar {
    width: 99%;
    align-self: center;
    height: 4px;
    background-color: white;
    cursor: pointer;
}

.logo {
    width: 20%;
    height: 100%;
}

.cards {
    display: flex;
    gap: 30px;
    width: 100%;
    height: 70%; 
    flex-wrap: wrap;
    overflow-y: scroll;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 200px;
    min-width: 200px;
    /* aspect-ratio: 16/9; */
    height: 300px;
    min-height: 300px;
    cursor: pointer;
    border: 2px solid rgb(211, 201, 201);
    color: white;
}

.card img {
    object-fit: cover;
    aspect-ratio: 16/9;
    width: 100%;
    height: 100%;

}


